

//displays
.d-block {
    display: block;
}
.d-inline {
    display: inline;
}
.d-inlineb {
    display: inline-block;
}

//margin top
.mt-auto {
    margin-top: auto;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-4 {
    margin-top: 4rem;

    @include respond(laptop) {
        margin-top: unset;
    }
}
.mt-6 {
    margin-top: 6rem;
}
.mt-8 {
    margin-top: 8rem;
}

//margin bottom
.mb-auto {
    margin-bottom: auto;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.mb-6 {
    margin-bottom: 6rem;
}
.mb-8 {
    margin-bottom: 8rem;
}

//margin left
.ml-2 {
    margin-left: 2rem;
}
.ml-5 {
    margin-left: 5rem;
}

//margin right
.mr-2 {
    margin-right: 2rem;
}
.mr-5 {
    margin-right: 5rem;
}

//text alignment
.text-center {
    text-align: center;
}

//text adjustments
.text-light {
    font-weight: 300 !important;
    font-size: 1.4rem;
}

.text-none {
    text-decoration: none;
}

//text colors
.black {
    color: $color-black !important;
}

.white {
    color: $color-white !important;
}

.dhide {
    display: none;
}

.hide {
    opacity: .2;

    &:hover {
        background-color: $color-white !important;
        color: $color-blue-light !important;
        box-shadow: none !important;
        transform: translateY(0) !important;
    }
    &:active {
        box-shadow: none !important;
        transform: translateY(0) !important;
    }
}

@media (max-width:640px) {
    .dhide {
        display: block !important;
    }
    .mhide {
        display: none !important;
    }
}